[Defaults]

; Copy or move files to the archive
copy_or_move            = copy

; Copy/move file in "output_path/YEAR/date--name__tag"
yearly_subfolder        = False

; Set a number of most common tags
num_top_tags            = 10

; flag which will be run in: $ open -a {open_pdf_in} --background /PATH/TO/file.pdf
open_pdf_in             = firefox

; Add file attributes to newly archived files
add_mac_tags            = False


[Directories]

; Multiple input paths can be defined by being placed in a JSON list
input_paths = ["~/Documents/test_documents" ]

; Only one output path is allowed (therefore no JSON here)
output_path = ~/Downloads/test_archive/

[Tags]
tag1
tag2
tag3
